/* === Подключение шрифтов === */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&family=Open+Sans:wght@300;400;500;600&display=swap');

@font-face {
    font-family: 'OpenSans_SemiCondensed_Italic';
    src: url('font/OpenSans_SemiCondensed-Italic.ttf') format('truetype');
    font-weight: 300;
}

/* Базовые стили */
body {
    margin: 0;
    padding: 20px;
    background: linear-gradient(135deg, #294561bb, #1c436dc5, #98a8dfbb);
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

/* Заголовки */
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    color: #ffcb1ef3;
    text-shadow: 0 0 3px #633f0f;
}

h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
}
h2 {
    color: #ffffff;
    text-shadow: 0 0 6px #6370b8;
    font-size: 28px;
}

/* Текст */
p {
    font-family: 'Oswald', sans-serif;
    font-size: 19px;
    color: #f9fbff;
  
}
    .text-white {
    color: #ffffff;

}

.italic { font-style: italic; }
.bold { font-weight: 700; }
.underline { text-decoration: underline; }
.strike { text-decoration: line-through; }

/* Подписи и значения */
.label {
    color: #fcd52a;
    font-weight: bold;
}

.value {
    color: #ffffff;
}

/* Изображения */
.img-shadow { box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); }
.img-rounded { border-radius: 5px; }


/* Таблица */
.film-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.film-table th,
.film-table td {
    border: 1px solid #c6c9dd;
    padding: 8px;
    text-align: left;
}

.film-table th {
    background-color: rgba(9, 19, 34, 0.3);
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    letter-spacing: 0.7px;
}

.film-table td {
     font-family: 'Oswald', sans-serif;
    color: #121220;
}

.film-table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Список песен */
ol li {
    font-family: 'Oswald', sans-serif;
    font-size: 19px;
    color: #121220;
}

/* Ссылки */
a {
    color: #fcd52a;
    text-decoration: none;
    font-family: 'OpenSans_SemiCondensed_Italic', sans-serif;
    font-size: 19px;
    font-style: italic;
    transition: 0.3s ease;
}

a:hover {
    color: #ffecaf;
    text-decoration: underline;
    text-shadow: 0 0 8px #ffffff;
}

/* Формы */
form {
    background: rgba(255, 255, 255, 0.1);
    padding: 1px;
    margin-bottom: 20px;
    border-radius: 8px;
    width: 350px;
    backdrop-filter: blur(4px);
}

form div {
    margin-bottom: 10px;
}

/* Подписи */
label {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #f6f6ff;
    text-shadow: 0 0 4px #1a2a4d9d;
}

#forms label {
    display: block;
    margin-bottom: 6px;
}

/* Поля ввода */
input, select, textarea {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    padding: 8px 20px;
    border: 1px solid #cdd9ff;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.18);
    color: #021038;
    backdrop-filter: blur(3px);
}


input:focus, select:focus, textarea:focus {
    border-color: #fcd52a;
    box-shadow: 0 0 8px #fcd52a;
}

/* Кнопки */
button {
    font-family: 'Oswald', sans-serif;
    background-color: #245f99;
    color: #ffffff;
    border: 2px solid #f0c818;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    transition: 0.3s;
}

button:hover {
    background-color: #0360b8;
    box-shadow: 0 0 10px #fcd52a;
    border-color: #ffffff;
}
